@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Syne+Mono&display=swap");
@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");
@import url("https://dablulite.github.io/css-snippets/NoLightInDark/import.css");
@font-face {
  font-family: "TwemojiColor";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
:root {
  --theme-version: "1.0.1";
  --font-primary: "Iceland", sans-serif, "TwemojiColor" !important;
  --font-display: "Iceland", sans-serif, "TwemojiColor" !important;
  --font-headline: "Iceland", sans-serif, "TwemojiColor" !important;
  --font-code: "Syne Mono", monospace, "TwemojiColor" !important;
  --activity-card-background: var(--primary-830) !important;
  --android-navigation-bar-background: var(--primary-830) !important;
  --android-navigation-scrim-background: hsl(
    var(--primary-830-hsl) / 0.5
  ) !important;
  --android-ripple: hsl(var(--white-500-hsl) / 0.07) !important;
  --bug-reporter-modal-submitting-background: hsl(
    var(--primary-800-hsl) / 0.6
  ) !important;
  --button-outline-brand-background: hsl(var(--white-500-hsl) / 0) !important;
  --button-outline-brand-text: var(--white-500) !important;
  --button-outline-brand-text-active: var(--white-500) !important;
  --button-outline-brand-text-hover: var(--white-500) !important;
  --button-outline-danger-background: hsl(var(--white-500-hsl) / 0) !important;
  --button-outline-danger-background-active: var(--red-460) !important;
  --button-outline-danger-background-hover: var(--red-430) !important;
  --button-outline-danger-border: var(--red-400) !important;
  --button-outline-danger-border-active: var(--red-430) !important;
  --button-outline-danger-border-hover: var(--red-430) !important;
  --button-outline-danger-text: var(--white-500) !important;
  --button-outline-danger-text-active: var(--white-500) !important;
  --button-outline-danger-text-hover: var(--white-500) !important;
  --button-outline-positive-background: hsl(
    var(--white-500-hsl) / 0
  ) !important;
  --button-outline-positive-text: var(--white-500) !important;
  --button-outline-positive-text-active: var(--white-500) !important;
  --button-outline-positive-text-hover: var(--white-500) !important;
  --button-outline-primary-background: var(--primary-700) !important;
  --button-outline-primary-background-active: var(--primary-600) !important;
  --button-outline-primary-background-hover: var(--primary-630) !important;
  --button-outline-primary-border: var(--primary-700) !important;
  --button-outline-primary-border-active: var(--primary-600) !important;
  --button-outline-primary-border-hover: var(--primary-630) !important;
  --button-outline-primary-text: var(--white-500) !important;
  --button-outline-primary-text-active: var(--white-500) !important;
  --button-outline-primary-text-hover: var(--white-500) !important;
  --button-secondary-background: var(--primary-700) !important;
  --button-secondary-background-active: var(--primary-600) !important;
  --button-secondary-background-disabled: var(--primary-700) !important;
  --button-secondary-background-hover: var(--primary-630) !important;
  --channel-icon: var(--primary-400) !important;
  --channel-text-area-placeholder: var(--primary-400) !important;
  --channels-default: var(--primary-360) !important;
  --channeltextarea-background: var(--primary-830) !important;
  --chat-background: var(--black-500) !important;
  --chat-border: var(--primary-700) !important;
  --chat-input-container-background: var(--primary-600) !important;
  --deprecated-card-bg: hsl(var(--primary-700-hsl) / 0.6) !important;
  --deprecated-card-editable-bg: hsl(var(--primary-700-hsl) / 0.3) !important;
  --deprecated-quickswitcher-input-background: var(--primary-400) !important;
  --deprecated-quickswitcher-input-placeholder: hsl(
    var(--white-500-hsl) / 0.3
  ) !important;
  --deprecated-store-bg: var(--primary-600) !important;
  --deprecated-text-input-bg: var(--primary-700) !important;
  --deprecated-text-input-border: hsl(var(--black-500-hsl) / 0.3) !important;
  --deprecated-text-input-border-disabled: var(--primary-700) !important;
  --deprecated-text-input-border-hover: var(--primary-900) !important;
  --deprecated-text-input-prefix: var(--primary-200) !important;
  --display-banner-overflow-background: hsl(
    var(--primary-700-hsl) / 0.5
  ) !important;
  --forum-post-extra-media-count-container-background: hsl(
    var(--primary-660-hsl) / 0.8
  ) !important;
  --forum-post-tag-background: hsl(var(--primary-660-hsl) / 0.9) !important;
  --header-primary: var(--primary-130) !important;
  --header-secondary: var(--primary-345) !important;
  --home-background: var(--primary-760) !important;
  --home-card-resting-border: hsl(var(--transparent-hsl) / 0) !important;
  --info-danger-text: var(--white-500) !important;
  --info-help-text: var(--white-500) !important;
  --info-positive-text: var(--white-500) !important;
  --info-warning-text: var(--white-500) !important;
  --input-background: var(--primary-800) !important;
  --input-placeholder-text: var(--input-placeholder-text-dark) !important;
  --interactive-active: var(--primary-130) !important;
  --interactive-hover: var(--primary-230) !important;
  --interactive-muted: var(--primary-500) !important;
  --interactive-normal: var(--primary-345) !important;
  --live-stage-tile-border: hsl(var(--primary-500-hsl) / 0.6) !important;
  --logo-primary: var(--white-500) !important;
  --mention-background: hsl(var(--brand-500-hsl) / 0.3) !important;
  --modal-background: var(--primary-860) !important;
  --modal-footer-background: var(--primary-900) !important;
  --profile-gradient-message-input-border: hsl(
    var(--primary-500-hsl) / 0.48
  ) !important;
  --profile-gradient-note-background: hsl(
    var(--black-500-hsl) / 0.3
  ) !important;
  --profile-gradient-overlay: hsl(var(--black-500-hsl) / 0.6) !important;
  --profile-gradient-overlay-synced-with-user-theme: hsl(
    var(--black-500-hsl) / 0.8
  ) !important;
  --profile-gradient-profile-body-background-hover: hsl(
    var(--white-500-hsl) / 0.16
  ) !important;
  --profile-gradient-role-pill-background: hsl(
    var(--primary-660-hsl) / 0.5
  ) !important;
  --profile-gradient-role-pill-border: hsl(
    var(--white-500-hsl) / 0.2
  ) !important;
  --profile-gradient-section-box: hsl(var(--black-500-hsl) / 0.45) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-700) !important;
  --scrollbar-auto-scrollbar-color-track: var(--primary-630) !important;
  --scrollbar-auto-thumb: var(--primary-600) !important;
  --scrollbar-auto-track: var(--primary-860) !important;
  --scrollbar-thin-thumb: var(--primary-700) !important;
  --scrollbar-thin-track: hsl(var(--black-500-hsl) / 0) !important;
  --spoiler-hidden-background: var(--primary-700) !important;
  --spoiler-revealed-background: var(--primary-660) !important;
  --status-danger-text: var(--white-500) !important;
  --status-positive-text: var(--white-500) !important;
  --status-warning-text: var(--black-500) !important;
  --text-muted: var(--primary-345) !important;
  --text-normal: var(--primary-300) !important;
  --textbox-markdown-syntax: var(--primary-360) !important;
  --user-profile-header-overflow-background: hsl(
    var(--primary-700-hsl) / 0.5
  ) !important;
  --elevation-stroke: 0 0 0 1px hsl(var(--primary-600-hsl) / 0.15) !important;
  --elevation-low: 0 1px 0 hsl(var(--primary-630-hsl) / 0.2),
    0 1.5px 0 hsl(var(--primary-600-hsl) / 0.05),
    0 2px 0 hsl(var(--primary-630-hsl) / 0.05) !important;
  --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl) / 0.16) !important;
  --elevation-high: 0 8px 16px hsl(var(--black-500-hsl) / 0.24) !important;
  --profile-gradient-primary-color: var(--background-floating);
  --profile-gradient-secondary-color: var(--background-floating);
  --profile-gradient-overlay-color: transparent;
  --profile-gradient-button-color: var(--button-secondary-background);
  --profile-avatar-border-color: var(--background-floating);
  --profile-message-input-border-color: var(--background-modifier-accent);
  --profile-body-background-color: var(--background-primary);
  --profile-body-background-hover: var(--background-modifier-hover);
  --profile-body-divider-color: var(--background-modifier-accent);
  --profile-role-pill-background-color: var(--background-floating);
  --profile-role-pill-border-color: var(--interactive-normal);
  --search-popout-option-fade: linear-gradient(
    90deg,
    hsl(var(--primary-830-hsl) / 0),
    hsl(var(--primary-830-hsl) / 1) 80%
  ) !important;
  --search-popout-option-fade-hover: linear-gradient(
    90deg,
    hsl(var(--primary-800-hsl) / 0),
    var(--primary-800) 50%
  ) !important;
  --home-background: var(--primary-900) !important;
  --dark-elevation-low: 0 1px 5px 0 hsl(var(--black-500-hsl) / 0.3);
  --dark-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.2);
  --dark-elevation-border: 0 0 0 1px hsl(var(--primary-700-hsl) / 0.6);
  --wallpaper: url("https://Riddim-GLiTCH.hacked-your.tech/content/cdn/VoNiHodKIxJv.png");
}

#app-mount,
.app_de4237,
.base_c0676e,
.container__26baa,
.sidebar_e031be + div,
.chatContent_f087cb,
.content__76dcf,
.layer_f7d46a,
.app_b1f720,
.appMount_c99875,
body,
.bg__12180,
.container__6b2e5,
.container__03ec9,
.header__71942,
.callContainer__1477d {
  background: transparent;
}

body {
  background: url(https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/back.png);
  background-position: center;
  background-size: cover;
}

.container__26baa {
  background-color: rgba(0, 0, 0, 0) !important;
}

:root {
  --background-primary: transparent;
  --background-tertiary: transparent;
  --background-secondary: transparent;
  --background-secondary-alt: transparent;
  --scrollbar-auto-track: transparent;
  --channeltextarea-background: hsl(var(--primary-560-hsl) / 0.1);
  --background-modifier-active: hsl(var(--primary-560-hsl) / 0.2);
  --background-modifier-hover: hsl(var(--primary-560-hsl) / 0.1);
  --background-modifier-selected: hsl(var(--primary-560-hsl) / 0.3);
  --button-secondary-background: hsl(var(--primary-560-hsl) / 0.1);
  --scrollbar-auto-thumb: hsl(var(--primary-560-hsl) / 0.2);
  --scrollbar-thin-thumb: hsl(var(--primary-560-hsl) / 0.2);
  --button-secondary-background-active: hsl(var(--primary-560-hsl) / 0.3);
  --button-secondary-background-disabled: var(--primary-430);
  --button-secondary-background-hover: hsl(var(--primary-560-hsl) / 0.2);
}

.base_c0676e {
  border-top-left-radius: 5px;
}

.innerWrapper_cfb768 {
  background-color: hsl(var(--primary-560-hsl)/0.3) !important;
}

.theme-dark {
  --channels-default: var(--white-560);
  --channel-icon: var(--white-560);
  --interactive-normal: var(--white-560);
  --interactive-hover: var(--white-530);
  --interactive-active: var(--white-500);
  --channel-text-area-placeholder: var(--white-560);
  --interactive-muted: var(--white-600);
  --text-normal: var(--white-500);
  --text-muted: var(--white-560);
}

.theme-light {
  --channels-default: var(--black-400);
  --channel-icon: var(--black-430);
  --interactive-normal: var(--black-400);
  --interactive-hover: var(--black-430);
  --interactive-active: var(--black-500);
  --channel-text-area-placeholder: var(--black-360);
  --interactive-muted: var(--black-360);
  --text-normal: var(--black-500);
  --text-muted: var(--black-400);
}

.content__01e65:before,
.form_d8a4a1:before,
.children_cde9af:after {
  content: none;
}

.header__77c95,
.searchBar__621ec {
  box-shadow: none;
}

.messagesWrapper_add28b {
  background-image: url(https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/Name.png);
  background-position: center;
  background-repeat: no-repeat;
}

.clickable__09456 {
  border-radius: 0px !important;
}

.wrapper__9916c,
.wrapper__3ed10,
.folderIconWrapper__11165,
.iconInactive__8c603,
.avatar__08316,
.avatar__777a6,
.replyAvatar__4ba85,
.executedCommandAvatar_cfc856,
.embedAuthorIcon_d3f927,
.option__91497.user__97b4c .displayAvatar__0be99 {
  border-radius: 15% !important;
}

.wrapper__9916c foreignObject,
.wrapper__3ed10 foreignObject {
  -webkit-mask: none;
          mask: none;
}

.mask_d5067d,
.svg_a6bf1c,
.emojiContainer__8da7f,
.iconWrapper_de6cd1,
.contents__322f4,
.search__07df0,
.favoriteIcon__03348,
.invisible-typing-button,
.iconContainer__6a580,
.iconContainer__5d61c {
  filter: drop-shadow(0px 0px 5px currentColor);
}

.clickable_ce0925,
.icon__5c8c7,
.app_de4237 * {
  color: rgb(var(--GC-accent)) !important;
}

.attachButtonPlus_fd0021,
.sprite__294b3 {
  fill: rgb(var(--GC-accent)) !important;
}

[aria-label="Boost this server"] {
  display: none;
}

.guilds__2b93a .tree__7a511:focus {
  outline-color: transparent;
}

.guilds__2b93a .scroller_de945b {
  contain: unset;
  margin-top: 56px;
}

.guilds__2b93a .scroller_de945b .tutorialContainer_b06ae6 {
  position: fixed;
  transform: translatey(-140%);
}

#app-mount .guilds__2b93a .tutorialContainer_b06ae6 .listItem__48528:first-child .wrapper__8436d:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: url("https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/Home-titlebar-icon.png");
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
}

.homeIcon__560eb,
.tutorialContainer_b06ae6 .childWrapper_a6ce15 {
  display: none;
}

.theme-light .base_c0676e::before {
  z-index: 101;
  position: relative;
  text-align: center;
  content: "⚠️ Warning! GH0STCH4TT3R was designed exclusively for the Dark theme. It will NOT function correctly in the Light theme. Please go to your settings menu > Appearance and enable the Dark theme. ⚠️";
  font-size: 20px;
  font-weight: 800;
  line-height: 36px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0 !important;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: red;
  color: rgb(var(--GC-accent));
  background-color: red;
  text-shadow: 0 0 5px rgb(var(--GC-accent));
}
.theme-light .base_c0676e .notice__5fd4c,
.theme-light .base_c0676e .sidebar_e031be {
  border-radius: 0 !important;
}

.header__6a14d {
  filter: none !important;
}

.message_ccca67 {
  filter: drop-shadow(0px 0px 1px currentColor) drop-shadow(0px 0px 1px currentColor);
}

.repliedTextContent_b12fe1 .messageContent_abea64 {
  border-top-left-radius: 10px !important;
}

.imageContent__0fe2a {
  -webkit-clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
          clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
}

#app-mount #messages.id-801089753038061669 {
  margin-left: auto;
  width: auto;
  padding-left: 48px;
  padding-right: 55px !important;
}

#app-mount #messages.id-801089753038061669 .container__62863 {
  direction: rtl;
}

#app-mount #messages.id-801089753038061669 .contents_d3ae0d {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
}

#app-mount .message_ccca67.selected_e3bc5d #messages.id-801089753038061669 .contents_d3ae0d {
  width: 100%;
}

#app-mount #messages.id-801089753038061669 .timestamp_c79dd2 {
  left: unset;
  right: 8px;
}

#app-mount #messages.id-801089753038061669 .repliedMessage__636d2 {
  margin-left: auto;
}

#app-mount .replying__38514 #messages.id-801089753038061669 .contents_d3ae0d .messageContent_abea64::before,
#app-mount .mentioned_fa6fd2 #messages.id-801089753038061669 .contents_d3ae0d .messageContent_abea64::before {
  left: unset;
  right: 0;
}

#app-mount #messages.id-801089753038061669 .contents_d3ae0d .messageContent_abea64 {
  margin-left: auto;
}

#app-mount #messages.id-801089753038061669 a:not(.embed_cc6dae .embedAuthorNameLink_dd0d5f) {
  margin-left: auto;
}

#app-mount #messages.id-801089753038061669 .embedAuthor__3e899 {
  direction: ltr;
}

#app-mount #messages.id-801089753038061669 .avatar__08316 {
  left: unset;
  right: 5px;
}

#app-mount #messages.id-801089753038061669 .header__6a14d {
  display: flex;
  flex-direction: row-reverse;
}

#app-mount #messages.id-801089753038061669 .header__6a14d span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount #messages.id-801089753038061669 .repliedMessage__636d2:before {
  display: none;
}

#app-mount .contents_d3ae0d > .messageContent_abea64 {
  overflow: visible;
}

#app-mount .contents_d3ae0d pre {
  max-width: 100%;
}

#app-mount .contents_d3ae0d .messageContent_abea64 {
  border: 1px solid rgb(var(--GC-accent));
  border-radius: 10px;
  background-color: rgb(var(--GC-accent-muted));
  padding: 2px;
  margin-left: unset;
  width: -moz-fit-content;
  width: fit-content;
}

#app-mount #messages.id-801089753038061669 .messageContent_abea64 {
  border-top-right-radius: 0;
  -webkit-clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 0px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
          clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 0px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
}

#app-mount .messageContent_abea64 {
  border-top-left-radius: 0 !important;
  -webkit-clip-path: polygon(0 0px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
          clip-path: polygon(0 0px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
}

#app-mount .contents_d3ae0d {
  display: inline-block;
  max-width: 100%;
}

#app-mount .message_ccca67 {
  max-width: 100%;
}

#app-mount .message_ccca67.compact_eda3c8.wrapper_a62503 #messages.id-801089753038061669 .messageContent_abea64 {
  display: flex;
}

#app-mount .compact_eda3c8.wrapper_a62503 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount .mentioned_fa6fd2.compact_eda3c8 .contents_d3ae0d .messageContent_abea64::before:not(#messages.id-801089753038061669) {
  left: 4px;
}

#app-mount .replying__38514.compact_eda3c8 .contents_d3ae0d .messageContent_abea64::before:not(#messages.id-801089753038061669) {
  left: 4px;
}

#app-mount .mentioned_fa6fd2:hover .contents_d3ae0d .messageContent_abea64,
#app-mount .mentioned_fa6fd2.selected_e3bc5d .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--background-mentioned-hover);
}

#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--info-warning-foreground);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

#app-mount .mentioned_fa6fd2:before {
  display: none;
}

#app-mount .repliedMessage__636d2 {
  border: 1px solid rgb(var(--GC-accent));
  border-radius: 10px;
  background-color: var(--background-message-hover);
  margin-bottom: 0;
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--brand-experiment-05a);
}

#app-mount .replying__38514:hover .contents_d3ae0d .messageContent_abea64,
#app-mount .replying__38514.selected_e3bc5d .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--brand-experiment-10a);
}

#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--brand-experiment);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

.replying__38514:before {
  display: none;
}

.repliedMessage__636d2:before {
  display: none;
}

.channelTextArea_c2094b,
.channelTextArea__648e5 {
  border: 1px solid rgb(var(--GC-accent)) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px;
}

.scrollableContainer_ff917f,
.bioTextArea_f46f71 {
  background-color: transparent !important;
}

[class*=newMessagesBar] {
  display: contents;
}

[class*=newMessagesBar] > button:first-child {
  display: none;
}

[class*=newMessagesBar] > button:last-child {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: rgba(var(--GC-accent-muted), 0.5);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
}

[class*=newMessagesBar] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #ffffff;
  transition: margin 0.6s;
}

[class*=newMessagesBar]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #ffffff;
  transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}

[class*=newMessagesBar]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}

.textArea_a86690 + .buttons__7ecff {
  margin-right: 2px;
}

.chatContent_f087cb {
  border-right: 1px solid rgb(var(--GC-accent));
  border-top: 1px solid rgb(var(--GC-accent));
  border-left: 1px solid rgb(var(--GC-accent));
  background: rgba(0, 0, 0, 0.5) !important;
  filter: none !important;
}

.chatContainer__23434 {
  filter: drop-shadow(5px 5px 1px rgba(var(--GC-accent-muted), 0.2));
}

.container_b92032 {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-top: 49px;
  border: solid 1px rgb(var(--GC-accent));
}

body:has(.card__691f2):has(.chat__1d65d) .container__694a1 {
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 50px;
  height: calc(100% - 51px);
  border-bottom: solid 1px rgb(var(--GC-accent));
  border-radius: 0;
}
body:has(.card__691f2):has(.chat__1d65d) .container__26baa:not(.title_d4ba1a) {
  padding: 0;
}

body:has(.card__691f2):has(.chat__1d65d):has(.container__694a1) .content__01e65 {
  padding-right: 638px;
}
body:has(.card__691f2):has(.chat__1d65d):has(.container__694a1) .container__26baa {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-right: solid 1px rgb(var(--GC-accent));
}
body:has(.card__691f2):has(.chat__1d65d):has(.container__694a1) .title_d4ba1a {
  position: absolute;
  min-width: calc(100% - 347px);
}

body:has(.prompt__1b100, .browser__428d5) .chat__52833 .content__01e65 {
  border-left: 1px solid rgb(var(--GC-accent));
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .tabBar_d4764b {
  margin-top: 70px;
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .container__26baa:not(.title_d4ba1a) {
  padding: 0;
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .content__01e65, body:has(.prompt__1b100, .browser__428d5) .chat__52833 .chat__52833 {
  background: rgba(0, 0, 0, 0.5);
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .prompt__1b100 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(var(--GC-accent)) !important;
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .prompt__1b100 .promptOptions__9b66e .optionButtonWrapper_c86844 {
  border: 2px dotted rgba(var(--GC-accent-muted), 0.2);
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .prompt__1b100 .promptOptions__9b66e .optionButtonWrapper_c86844:hover {
  background-color: rgba(var(--GC-accent), 0.2);
  filter: drop-shadow(5px);
}
body:has(.prompt__1b100, .browser__428d5) .chat__52833 .prompt__1b100 .promptOptions__9b66e .selected__31118 {
  background-color: rgba(var(--GC-accent-muted), 0.2);
  border: 1px solid rgb(var(--GC-accent));
}

[class*=pollBadgeDefault_] {
  display: none;
}

[class*=pollContainer] {
  margin-top: -3px;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  background: rgba(var(--GC-accent-muted), 0.03);
  border: 1px solid rgb(var(--GC-accent));
  -webkit-clip-path: polygon(0 0px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
          clip-path: polygon(0 0px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px) !important;
}
[class*=pollContainer] [class*=infoButton] {
  width: 50px;
}
[class*=pollContainer] [class*=infoButton] svg {
  display: none;
}
[class*=pollContainer] [class*=infoButton]:before {
  position: absolute;
  right: 18px;
  top: 15px;
  content: "Poll";
  font-size: 3rem;
  filter: none !important;
}
[class*=pollContainer] [type=button] {
  border: 1px solid rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.03);
}
[class*=pollContainer] [type=button]:hover {
  background-color: rgba(var(--GC-accent), 0.1);
}
[class*=pollContainer] .fontScaling__56c42 {
  margin: 6px;
}
[class*=pollContainer] .answerSelectionIcon__262f4 {
  position: absolute;
  right: 15px;
}
[class*=pollContainer] [type=button]:disabled {
  background-color: transparent !important;
}
.container__43554 {
  color: rgb(var(--GC-accent));
}

/*! consistent top bar - extends member list !*/
.chat__52833 .container__26baa {
  max-width: calc(100% - 355px);
  height: 50px;
  border: 1px solid rgb(var(--GC-accent)) !important;
  position: absolute;
  border-radius: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.header__77c95 {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgb(var(--GC-accent)) !important;
  width: 245px;
}

.chat__52833:has(.profilePanel_e2cafe) .container__26baa {
  max-width: calc(100% - 340px);
  position: absolute;
  border-radius: 0 0 0 0;
}

.chat__52833:has(.searchResultsWrap__2e184) .container__26baa {
  max-width: calc(100% - 345px);
  position: absolute;
  border-radius: 0 0 0 0;
  background-color: var(--background-primary) !important;
}

.chat__52833:has(.container_f79ab4, .membersWrap__5ca6b, .profilePanel_e2cafe) .chatContent_f087cb,
.grid-21dB-S,
.list-3FIpnh {
  margin-top: 48px;
  border-radius: 0 0 0 0;
}

.searchHeader__4d70e {
  height: 48px;
}

.container_d1f8f5 .sidebar_e031be {
  border-radius: 0 0 0 0;
}

.content__01e65::before {
  display: none;
}

.iconContainer__9f124,
.icon__5c8c7 {
  width: 24px;
  height: 24px;
}

.searchBar__5a20a {
  width: 24px;
  height: 24px;
  padding: 0;
}

.focused__037a4 .searchBar__5a20a,
.open_d3ab4e .searchBar__5a20a,
.searchBar__5a20a:hover {
  width: 150px;
  height: 25px;
}

.item_f9d377,
.unread__48cf4 {
  background-color: rgb(var(--GC-accent)) !important;
}

.tooltip__7b090 {
  background-image: var(--wallpaper) !important;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar_e031be .scroller__1f498 {
  margin-right: -10px;
}
.sidebar_e031be .scroller__1f498 .content__690c5 {
  width: 240px;
}
.sidebar_e031be .scroller__1f498 .content__690c5 .containerDefault_e3b32b {
  border-bottom: 1px solid rgb(var(--GC-accent));
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(var(--GC-accent), 0.5) 99.9%);
  margin-left: 0;
  margin-right: 0 !important;
}

.container_f79ab4 .membersWrap__5ca6b .members__573eb {
  margin-left: 15px;
  width: 370px !important;
}
.container_f79ab4 .membersWrap__5ca6b .members__573eb .content__690c5 {
  width: 355px;
}
.container_f79ab4 .membersWrap__5ca6b .members__573eb .content__690c5 .membersGroup_cad095 {
  border-bottom: 1px solid rgb(var(--GC-accent));
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(var(--GC-accent), 0.5) 99.9%);
  margin-left: 0;
  margin-right: 0 !important;
}

.sidebar_e031be .containerDefault_ae2ea4 .link_ddbb36 {
  transition: all ease-in-out 0.3s;
  margin-right: 10px;
}
.sidebar_e031be .containerDefault_ae2ea4 .link_ddbb36:hover {
  background: none;
}
.sidebar_e031be .containerDefault_ae2ea4 .link_ddbb36:hover:before {
  background: rgba(var(--GC-accent), 0.2);
  filter: blur(5px);
}
.sidebar_e031be .containerDefault_ae2ea4:has(.modeSelected__473f1) .link_ddbb36 {
  background-color: rgba(var(--GC-accent), 0.2);
  border: 3px inset rgb(var(--GC-accent));
}
.sidebar_e031be .containerDefault_ae2ea4:has(.modeSelected__473f1) .link_ddbb36:hover ::before {
  background: rgba(var(--GC-accent), 0.3);
  filter: none;
}

/* Move the user area to the top right*/
#app-mount .children_cde9af:after {
  display: none;
}

/* Status picker Settings */
.avatar_f8541f {
  position: relative;
  left: 2px;
}

.nameTag__77ab2 {
  margin-left: 5px;
}

.avatarWrapper__500a6 {
  width: 300px;
}

.container_debb33 {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgb(var(--GC-accent)) !important;
  border-radius: 0 0 0 0px;
  right: 0;
  top: 0;
  height: 48px;
  position: absolute;
  width: 338px;
}

.container_debb33 .hovered__5a165, .hoverRoll__3ea9e.forceHover__733de:not(.disabled__6cbf4) .default__74311 {
  opacity: 1 !important;
  transform: none;
}

.container_debb33 .hovered__5a165::before {
  content: "@";
}

.default__74311 {
  margin-top: 15px;
}

[class^=sidebar_] [class^=panels_] {
  z-index: 999;
}

.iconWrapper_de6cd1[aria-label=Help] {
  display: none;
}

.searchResultsWrap__2e184,
.profilePanel_e2cafe {
  border-top: 1px solid rgb(var(--GC-accent)) !important;
  padding-top: 48px;
  width: 350px !important;
}

.members__573eb {
  max-height: calc(100% - 48px);
  margin-top: 48px;
}

/*Hide User Buttons untill hover, By Axo*/
.panels__58331 > .container_debb33 .flex_f18b02 > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

.panels__58331 > .container_debb33:hover .flex_f18b02 > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}

.container_debb33 {
  justify-content: space-between;
}

.scrollerInner__37fee > :where(li + div:has(+ div),
.groupStart__7b93c:has(.blockedSystemMessage_d1b25e)) {
  display: none;
}

/*Fix members list looking hella cursed*/
.members__573eb,
.memberInner__4dac6,
.hiddenMembers__0524b {
  width: 355px !important;
}

.membersWrap__5ca6b {
  min-width: 355px;
  display: flex;
  position: relative;
  max-height: 100%;
}

/*thread Title bar Fix*/
.container__26baa:not(.title_d4ba1a) {
  padding-right: 355px;
}

.privateChannelsHeaderContainer_b22dc9 ~ li .highlighted_e2e5df > .avatar__7bd22,
.containerDefault_ae2ea4:has(.mentionsBadge__3d019) .iconContainer__6a580 {
  box-shadow: 0 0 10px 0.3px rgb(var(--GC-accent));
  border-radius: 0;
  border: 2px solid rgb(var(--GC-accent));
  transform: scale(1);
  animation: pulse 3s infinite;
}

.listItem__48528:has(.lowerBadge_e89e22) {
  box-shadow: 0 0 10px 0.3px rgb(var(--GC-accent));
  border-radius: 0;
  border: 2px solid rgb(var(--GC-accent));
  transform: scale(1);
  transform: rotate(90deg) !important;
  animation: pulse 3s infinite;
}

.unread__48cf4 {
  animation: minipulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(var(--GC-accent), 1);
  }
  70% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes minipulse {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(var(--GC-accent), 1);
  }
  70% {
    transform: scale(0.95);
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.numberBadge__40d6f,
.mention_dd733a {
  background-color: transparent !important;
}

.wordmarkWindows_ffbc5e > svg {
  width: 19px;
}

.wordmarkWindows_ffbc5e path:not(:first-child) {
  display: none;
}

.wordmarkWindows_ffbc5e path:first-child {
  d: path("M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z") !important;
  scale: 2;
  filter: drop-shadow(0 0 20px currentColor);
}

.wordmarkWindows_ffbc5e svg > g {
  transform: translateY(-75%);
}

.wordmarkWindows_ffbc5e {
  display: flex;
  gap: 6px;
  align-items: center;
  order: 1;
  margin-right: auto;
  color: rgb(var(--GC-accent));
}

.wordmarkWindows_ffbc5e::after {
  content: "GH0STCH4TT3R";
  color: rgb(var(--GC-accent));
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  font-family: var(--font-display);
  font-weight: 700;
}

.typeWindows_e41dab {
  margin-top: 0;
  padding: 4px;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid rgb(var(--GC-accent)) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.typeWindows_e41dab > .winButton_f17fb6,
.typeWindows_e41dab > .wordmarkWindows_ffbc5e {
  position: relative;
}

.winButton_f17fb6 {
  top: 0 !important;
  margin: -4px 0;
  height: 31px;
  width: 46px;
}

.winButtonClose__6396d {
  margin-right: -4px;
}

.platform-win .container__827e6 {
  padding-top: 31px !important;
  top: -31px !important;
}

/* [[ PROFILES ]] */
.customStatus__3aa7f .customStatusEmoji__00639 {
  margin: 4px -12px 8px;
  position: relative;
  left: 50%;
  float: none;
  border-radius: 4px;
  text-shadow: currentColor 0 0 10px;
}

.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
  position: relative;
  left: 42.5%;
}

.customStatus__3aa7f::before {
  content: "Current status";
  text-shadow: currentColor 0 0 10px;
  font-weight: 800;
  color: var(--text-muted);
  display: block;
}

.customStatus_fe94ef::before {
  content: "Current status";
  text-shadow: currentColor 0 0 10px;
  font-weight: 800;
  color: var(--text-muted);
  display: block;
}

.defaultColor__77578.eyebrow_e5a66c.defaultColor__8610e.title__392bc {
  justify-content: center;
  display: flex;
}

.pronouns__8aa38,
.pronouns__3d468 {
  text-transform: none;
  color: var(--text-normal);
  text-shadow: currentColor 0 0 10px;
  font-size: 16px;
  font-weight: 800;
  padding: 4px 6px;
  margin: 4px 0 0 0;
  border-radius: 4px;
  border: 1px solid rgb(var(--gc-accent)) !important;
  max-width: 90%;
  overflow: hidden;
  background: linear-gradient(45deg, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
  background-size: 200% 200%;
}

.profileBannerPremium__6fb42 {
  margin: 12px auto auto;
  width: calc(100% - 24px);
  height: 76px !important;
  min-height: 188px !important;
  border-radius: 8px;
}

.popoutBannerPremium__84487 {
  margin: 8px auto auto;
  width: calc(100% - 16px) !important;
  height: 84px !important;
  min-height: 106px !important;
  border-radius: 4px;
}

.scroller_f9a667 {
  padding: 6px 12px;
}

.section__62b44 > div:not(.roles__74a2b),
.userInfoText_b87307 {
  padding: 8px;
}

.scrollerSeparator_d8843a {
  box-shadow: none;
}

.section__62b44.usernameSection_dd6196 {
  margin-bottom: 8px;
}

.container__9f51c {
  margin: 0 12px;
  padding: 16px;
}

.usernameSection_dd6196 > div {
  width: calc(100% - 16px);
  text-shadow: currentColor 0 0 10px;
}

.container__1c2eb > div {
  width: 100%;
}

.section__62b44 > div:not(.activity__20c1e, .roles__74a2b),
.memberSinceContainer__16630,
.userInfoText_b87307,
.container__9f51c,
.nameTag_fdddf8,
img[class*=emoji_] {
  justify-content: center;
  text-align: center;
}

.section__62b44 > div:not(.roles__74a2b),
.mutualGuildsList__5e9f3,
.mutualFriendsList__02caf,
.container__9f51c,
.userInfoText_b87307 {
  background: var(--profile-body-background-color);
  text-shadow: currentColor 0 0 10px;
  border-radius: 4px;
}

/* remove border in modal connections */
.userInfoSection_e816c1 + .userInfoSection_e816c1 {
  border-top: none;
}

/* fix badge list height */
.profileBadges__1f2ab.container_ed2af4 {
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-right: 10px;
}

:is(.userPopoutInner_e90432, .userInfoText_b87307) .blockquoteContainer__66aaa {
  justify-content: center;
}

.userPopoutInner_e90432 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_ff7119 {
  text-shadow: currentColor 0 0 10px;
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: bold;
  padding: 0 4px;
  border-radius: 4px;
}

:is(.userPopoutInner_e90432 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_ff7119):hover {
  background: var(--background-modifier-hover);
  text-decoration: none;
  text-shadow: currentColor 0 0 10px;
}

.tabBarContainer_b283be {
  margin: 20px 0 0;
}

.tabBar__35f81 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 16px;
}

.userProfileModalInner__99b1e .top_fae1fa .item__48dda {
  border: none;
  background: color-mix(in srgb, var(--profile-body-background-color) 40%, transparent);
  padding: 2px 0;
  width: 31%;
  border-radius: 4px;
  text-align: center;
}

.tabBarContainer_b283be,
.top_fae1fa .themed_b957e8.item__48dda:hover {
  border: none;
}

.userProfileModalInner__99b1e .top_fae1fa .item__48dda:hover {
  background: color-mix(in srgb, var(--profile-body-background-color) 70%, transparent) !important;
}

.userProfileModalInner__99b1e .top_fae1fa .selected_a523ff.item__48dda {
  background: color-mix(in srgb, var(--profile-body-background-color) 100%, transparent);
}

.tabBarItem_ce14f3 {
  height: -moz-fit-content;
  height: fit-content;
}

.divider__979dc {
  background: var(--profile-body-divider-color);
}

.platformIcon_a2d873 {
  margin: 2px 2px;
}

.scroller__18a89 {
  left: 12.5%;
}

.userProfileOuterUnthemed_e14365 .userPanelInner_f9edb8,
.root_a28985:has(.userProfileModalOuter_a65559) {
  background: transparent !important;
}

.profilePanel_e2cafe .userPanelInner_f9edb8 {
  border-radius: 8px;
}

.connectedAccountContainer__5972d {
  border-width: 2px;
}

.connectedAccountContainer__5972d:has(.connectedAccountOpenIcon__23b1a:hover) {
  background: var(--profile-body-divider-color);
}

.flowerStarContainer__00f61.connectedAccountVerifiedIcon__103a6 > svg > path {
  fill: var(--profile-body-divider-color);
  filter: brightness(1) contrast(2);
}

:is(.userPopoutInner_e90432, .profilePanel_e2cafe) [class*=divider_] {
  background: transparent;
  border-color: transparent;
}

.userInfoSection_e816c1 .eyebrow_b3f8ba:last-child,
.section__62b44:has(.roles__74a2b:empty),
[class*=userPanelInner_]::before,
.lastSection__62986,
.aboutMeGuildIcon_b05b69 {
  display: none !important;
}

/* fixes */
[class^=userPopoutOverlayBackground_],
[class^=userProfileModalOverlayBackground__] {
  background: transparent;
}

:is(.section__62b44, .userInfoSection_e816c1) .eyebrow_b3f8ba {
  text-transform: none;
  font-size: 14px;
  display: block;
  text-align: center;
}

.activityUserPopoutV2__89098 .headerText_c0138d,
.activityProfileV2_f5335f .headerText_c0138d {
  text-transform: none;
  font-size: 14px;
}

[style^="-webkit-line-clamp: 6"] {
  display: block;
}

[class^=userProfileModalOverlayBackground__] > [class^=body_] {
  flex: 0 1 500px;
}

/* [[ ROLE PILLS ]] */
[class*=roles_] {
  justify-content: center;
}

.rolePill_f50ff5 {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.rolePill_f50ff5 .roleRemoveButton__20c70 {
  position: unset;
  width: 100%;
  height: 100%;
}

.rolePill_f50ff5 .roleRemoveButton__20c70 .roleCircle__61ad8 {
  border-radius: unset;
  margin: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  text-align: center;
}

.rolePill_f50ff5 .roleRemoveButton__20c70 .roleRemoveIcon_c3913a {
  background: var(--profile-role-pill-background-color);
  padding: 2px;
  border: 1px solid rgb(var(--gc-accent)) !important;
  border-radius: 50%;
  margin: -6px 0 0 -6px;
  text-shadow: currentColor 0 0 10px;
}

.rolePill_f50ff5 .roleRemoveButton__20c70 .roleRemoveIcon_c3913a path {
  fill: #fff;
}

.rolePill_f50ff5 .roleRemoveButton__20c70 + .roleName__851c9,
.rolePill_f50ff5 .roleIcon_aa2eb3 {
  margin-left: 4px;
}

.rolePill_f50ff5 .roleName__851c9 {
  padding: 4px;
}

.rolePill_f50ff5 .roleName__851c9 div {
  font-weight: 600;
  text-shadow: currentColor 0 0 10px;
}

.rolePill_f50ff5 .roleIcon_aa2eb3 {
  min-width: 16px;
  z-index: 1;
}

.rolePillBorder_e3a889 {
  border-color: none;
}

.chat__52833 .profilePanel_e2cafe {
  margin-right: 5px;
}
.chat__52833 .profilePanel_e2cafe .userPanelOuter_eb00b1 {
  width: 355px !important;
}
.chat__52833:has(.profilePanel_e2cafe) .title_d4ba1a {
  width: calc(100% - 355px);
}

.scroller__8f066 {
  padding: 6px 8px;
  margin: -10px;
  line-clamp: 5px;
  background-image: var(--wallpaper);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 0 5px currentColor;
}

.colorDefault_e361cf {
  color: rgb(var(--GC-accent));
}

.label__563c3 {
  filter: drop-shadow(0 0 5px currentColor, 0.5);
}

.labelContainer__4f869.colorDanger__08c25 {
  color: red;
  filter: drop-shadow(0 0 5px red, 0.5) !important;
}
.labelContainer__4f869.colorDanger__08c25:hover {
  color: white;
}

.item__183e8 {
  margin-bottom: -2px;
  padding: 2px;
  min-height: 12px;
}

#app-mount .info__755e1 .line_cdcacc:first-child:after {
  content: "GH0STCH4TT3R v" var(--theme-version);
  display: block;
}

#app-mount .info__755e1 .line_cdcacc:nth-last-child(5):before {
  content: "by Nexus Themes";
  display: block;
}

#my-account-tab > div > div:nth-child(1) > div.sectionTitle__3e02b > h2 {
  font-size: 0px;
  line-height: 0px;
}
#my-account-tab > div > div:nth-child(1) > div.sectionTitle__3e02b > h2:before {
  content: "Your Discrd Account";
  font-size: 35px;
  font-weight: bolder;
  line-height: 24px;
}

#my-account-tab .accountProfileCard__744d8 {
  background-color: rgba(0, 0, 0, 0.5);
  border: inset 2px rgb(var(--GC-accent));
}
#my-account-tab .accountProfileCard__744d8 .bannerSVGWrapper__8a38c foreignObject {
  -webkit-mask-image: none;
          mask-image: none;
}
#my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 .avatar__6c108, #my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 .wrapper__3ed10, #my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 foreignObject {
  border: solid 1px rgb(var(--GC-accent));
  border-radius: 5px !important;
  top: 100px;
}
#my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 .button__581d0 {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
}
#my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 .button__581d0:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
#my-account-tab .accountProfileCard__744d8 .userInfo_fb7651 .overflowMenuIcon_a3868f {
  display: none;
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .usernameRow__25e5a .usernameInnerRow_c95e17::before {
  content: "@";
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .fieldButton__1edf0 {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .fieldButton__1edf0:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .removeButton_dcb1e3 {
  border: solid 1px rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .removeButton_dcb1e3:hover {
  background-color: rgba(255, 0, 0, 0.2);
  filter: drop-shadow(5px);
}
#my-account-tab .accountProfileCard__744d8 .fieldList__4e6dd .removeButton_dcb1e3 .contents__322f4 {
  color: rgb(252, 44, 44) !important;
}

.characterBackground__1966f .artwork__94141 {
  display: none;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/Titlebar-icon.png");
  background-position: center 20px;
  background-size: 20%;
  background-repeat: no-repeat;
  padding-top: 140px;
  border: solid 1px rgb(var(--GC-accent));
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247::before {
  margin-top: 20px;
  content: "Welcome to GH0STCH4TT3R";
  font-size: 30px;
  font-weight: bolder;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 {
  background: linear-gradient(to left, rgba(var(--GC-accent), 0.2) 20%, rgba(0, 0, 0, 0) 75%);
  border-radius: 5px;
  border: solid 1px rgb(var(--GC-accent));
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 .usernameSection_e14676 .username__20f97 :first-child:before {
  content: "@";
  color: var(--header-secondary) !important;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 .userActions__6955d .button__581d0 {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 .userActions__6955d .button__581d0:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 .wrapper__3ed10 {
  height: 64px;
  width: 64px !important;
  margin-left: -16px;
  z-index: 1;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .list__4e6aa .accountCard__21066 .wrapper__3ed10 svg {
  margin-top: -12px;
  filter: none;
  height: 64px;
  width: 64px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .actions_bbd75a .button__581d0 {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
  border-radius: 5px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .centeringWrapper__5e247 .actions_bbd75a .button__581d0:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBox__6f336:has(.accountCard__21066) .contents__322f4 {
  --button--underline-color: transparent!important;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(var(--GC-accent));
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .mainLoginContainer_f58870 .header_b79c4b {
  margin-top: 40px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .mainLoginContainer_f58870 .header_b79c4b::before {
  content: "Welcome back to GH0STCH4TT3R!";
  font-family: var(--font-display);
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .mainLoginContainer_f58870 .header_b79c4b::after {
  content: "Please sign in with your Discord Account.";
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .button__5573c {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .button__5573c:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .input_f27786 {
  background-color: rgba(0, 0, 0, 0);
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .inputWrapper_ecb776 {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgb(var(--GC-accent));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .header_b79c4b .heading-xl-semibold__5e86c, .characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .header_b79c4b .text-md-normal__6e567 {
  display: none;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .goBackButton__43fd3 {
  position: absolute;
  top: 20px;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .smallRegisterLink__61994 {
  display: inline;
}
.characterBackground__1966f .wrapper_f5f4c9 .authBoxExpanded__1da99 .smallRegisterLink__61994 ::after {
  content: " with Discord";
}

.errorPage_a41002 .title__5060d {
  color: rgb(var(--GC-accent));
  font-size: 0;
}
.errorPage_a41002 .title__5060d:before {
  content: "GH0STCH4TT3R CRASHED";
  font-size: 25px;
}
.errorPage_a41002 .note__35490 {
  color: rgb(var(--GC-accent));
  width: 500px;
  margin-left: -5%;
  margin-right: auto;
}
.errorPage_a41002 .note__35490 p {
  font-size: 0;
  line-height: 0;
}
.errorPage_a41002 .note__35490 p:first-child:before {
  content: "The Discord core program encountered a pretty severe error and panicked.";
  font-size: medium;
}
.errorPage_a41002 .note__35490 p:last-child:before {
  content: "We suspect one of your addons may be causing issues. Try disabling some.";
  font-size: medium;
}
.errorPage_a41002 .note__35490::after {
  content: "Restart Discord to continue using GH0STCH4TT3R";
}
.errorPage_a41002 .button__581d0 {
  border: solid 1px rgb(var(--GC-accent));
  background-color: rgba(var(--GC-accent), 0.2);
}
.errorPage_a41002 .button__581d0:hover {
  background-color: rgba(var(--GC-accent), 0.4);
  filter: drop-shadow(5px);
}
.errorPage_a41002 .image_e0cb48 {
  background-image: url("https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/ErrorNotice-Icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

body:has(.errorPage_a41002) .wrapper__77675 {
  background-image: none;
}