#my-account-tab>div>div:nth-child(1)>div.sectionTitle__3e02b>h2 {
    font-size: 0px;
    line-height: 0px;
    &:before {
        content: "Your Discrd Account";
        font-size: 35px;
        font-weight: bolder;
        line-height: 24px;
    }
}
#my-account-tab .accountProfileCard__744d8 {
    background-color: rgba(0, 0, 0, 0.5);
    border: inset 2px rgb(var(--GC-accent));
    .bannerSVGWrapper__8a38c {
        foreignObject {
            mask-image: none;
        }
    }
    .userInfo_fb7651 {
        .avatar__6c108, .wrapper__3ed10, foreignObject {
            border: solid 1px rgb(var(--GC-accent));
            border-radius: 5px!important;
            top: 100px;
        }
        .button__581d0 {
            border: solid 1px rgb(var(--GC-accent));
            background-color: rgba(var(--GC-accent), .2);
            &:hover {
                background-color: rgba(var(--GC-accent), .4);
                filter: drop-shadow(5px);
            }
        }
        .overflowMenuIcon_a3868f {
            display: none;
        }
    }
    .fieldList__4e6dd {
        .usernameRow__25e5a {
            .usernameInnerRow_c95e17{
                &::before{
                    content: "@";
                }
            }
        }
        .fieldButton__1edf0 {
            border: solid 1px rgb(var(--GC-accent));
            background-color: rgba(var(--GC-accent), .2);
            &:hover {
                background-color: rgba(var(--GC-accent), .4);
                filter: drop-shadow(5px);
            }
        }
        .removeButton_dcb1e3 {
            border: solid 1px rgb(255, 0, 0);
            background-color: rgba(255, 0, 0, .1);
            &:hover {
                background-color: rgba(255, 0, 0, .2);
                filter: drop-shadow(5px);
            }
            .contents__322f4 {
                color: rgb(252, 44, 44)!important;
            }
        }
    }
}
