#app-mount .info__755e1 .line_cdcacc:first-child:after {
  content: "GH0STCH4TT3R v" var(--theme-version);
  display: block;
}
#app-mount .info__755e1 .line_cdcacc:nth-last-child(5):before {
  content: "by Nexus Themes";
  display: block;
}
