// Glowy
.mask_d5067d,
.svg_a6bf1c,
.emojiContainer__8da7f,
.iconWrapper_de6cd1,
.contents__322f4,
.search__07df0,
.favoriteIcon__03348,
.invisible-typing-button,
.iconContainer__6a580,
.iconContainer__5d61c {
  filter: drop-shadow(0px 0px 5px currentColor);
}
.clickable_ce0925,
.icon__5c8c7,
.app_de4237 * {
  color: rgb(var(--GC-accent)) !important;
}
.attachButtonPlus_fd0021,
.sprite__294b3 {
  fill: rgb(var(--GC-accent)) !important;
}
