// Pin Home Button by DoggyBootsy

[aria-label="Boost this server"] {
  display: none;
}

.guilds__2b93a .tree__7a511:focus {
  outline-color: transparent;
}
.guilds__2b93a .scroller_de945b {
  contain: unset;
  margin-top: 56px;
}
.guilds__2b93a .scroller_de945b .tutorialContainer_b06ae6 {
  position: fixed;
  transform: translatey(-140%);
}

// Custom Home button by Kraif

#app-mount
  .guilds__2b93a
  .tutorialContainer_b06ae6
  .listItem__48528:first-child
  .wrapper__8436d:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: url("https://raw.githubusercontent.com/Nexus-Themes/GH0STCH4TT3R/master/assets/Home-titlebar-icon.png");
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
}
.homeIcon__560eb,
.tutorialContainer_b06ae6 .childWrapper_a6ce15 {
  display: none;
}
