.clickable__09456 {
  border-radius: 0px !important;
}
.wrapper__9916c,
.wrapper__3ed10,
.folderIconWrapper__11165,
.iconInactive__8c603,
.avatar__08316,
.avatar__777a6,
.replyAvatar__4ba85,
.executedCommandAvatar_cfc856,
.embedAuthorIcon_d3f927,
.option__91497.user__97b4c .displayAvatar__0be99 {
  border-radius: 15% !important;
}

.wrapper__9916c foreignObject,
.wrapper__3ed10 foreignObject {
  mask: none;
}
