/* Move the user area to the top right*/
#app-mount .children_cde9af:after {
  display: none;
}
/* Status picker Settings */
.avatar_f8541f {
  position: relative;
  left: 2px;
}
.nameTag__77ab2 {
  margin-left: 5px;
}
.avatarWrapper__500a6 {
  width: 300px;
}
.container_debb33 {
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
  border: 1px solid rgb(var(--GC-accent)) !important;
  border-radius: 0 0 0 0px;
  right: 0;
  top: 0;
  height: 48px;
  position: absolute;
  width: 338px;
}
.container_debb33 .hovered__5a165, .hoverRoll__3ea9e.forceHover__733de:not(.disabled__6cbf4) .default__74311{
  opacity: 1!important;
  transform: none;
}
.container_debb33 .hovered__5a165::before{
  content: "@";
}
.default__74311{
  margin-top: 15px;
}
[class^="sidebar_"] [class^="panels_"] {
  z-index: 999;
}
.iconWrapper_de6cd1[aria-label="Help"] {
  display: none;
}

.searchResultsWrap__2e184,
.profilePanel_e2cafe {
  border-top: 1px solid rgb(var(--GC-accent)) !important;
  padding-top: 48px;
  width: 350px !important;
}

.members__573eb {
  max-height: calc(100% - 48px);
  margin-top: 48px;
}
/*Hide User Buttons untill hover, By Axo*/
.panels__58331 > .container_debb33 .flex_f18b02 > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.2s ease-in-out;
}
.panels__58331 > .container_debb33:hover .flex_f18b02 > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}
.container_debb33 {
  justify-content: space-between;
}
.scrollerInner__37fee
  > :where(
    li + div:has(+ div),
    .groupStart__7b93c:has(.blockedSystemMessage_d1b25e)
  ) {
  display: none;
}

/*Fix members list looking hella cursed*/
.members__573eb,
.memberInner__4dac6,
.hiddenMembers__0524b {
  width: 355px !important;
}
.membersWrap__5ca6b {
  min-width: 355px;
  display: flex;
  position: relative;
  max-height: 100%;
}

/*thread Title bar Fix*/
.container__26baa:not(.title_d4ba1a) {
  padding-right: 355px;
}
