// .messageContent_abea64 {
//     border: 1px solid rgb(var(--GC-accent));
//     border-radius: 10px;
//     border-top-left-radius: 0;
//     width: fit-content!important;
//     max-width: 100%;
//     background-color: rgb(var(--GC-accent-muted));
//     color: rgb(var(--GC-accent));
//     padding-left: 5px!important;
//     padding-right: 5px!important;
//     margin-left: 0px!important;
//     clip-path: polygon(
//       0 0px,
//       10px 0,
//       calc(100% - 10px) 0,
//       100% 10px,
//       100% calc(100% - 10px),
//       calc(100% - 10px) 100%,
//       10px 100%,
//       0% calc(100% - 10px),
//       0% 10px
//     );

// }
.header__6a14d {
  filter: none !important;
}

.message_ccca67 {
  filter: drop-shadow(0px 0px 1px currentColor)
    drop-shadow(0px 0px 1px currentColor);
}

.repliedTextContent_b12fe1 .messageContent_abea64 {
  border-top-left-radius: 10px !important;
}

// Apply diagonal corners to embedded images
.imageContent__0fe2a {
  clip-path: polygon(
    0 10px,
    10px 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0% calc(100% - 10px),
    0% 10px
  ) !important;
}

#app-mount #messages.id-801089753038061669 {
  margin-left: auto;
  width: auto;
  padding-left: 48px;
  padding-right: 55px !important;
}

#app-mount #messages.id-801089753038061669 .container__62863 {
  direction: rtl;
}

#app-mount #messages.id-801089753038061669 .contents_d3ae0d {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
}
#app-mount
  .message_ccca67.selected_e3bc5d
  #messages.id-801089753038061669
  .contents_d3ae0d {
  width: 100%;
}

#app-mount #messages.id-801089753038061669 .timestamp_c79dd2 {
  left: unset;
  right: 8px;
}
#app-mount #messages.id-801089753038061669 .repliedMessage__636d2 {
  margin-left: auto;
}

#app-mount
  .replying__38514
  #messages.id-801089753038061669
  .contents_d3ae0d
  .messageContent_abea64::before,
#app-mount
  .mentioned_fa6fd2
  #messages.id-801089753038061669
  .contents_d3ae0d
  .messageContent_abea64::before {
  left: unset;
  right: 0;
}

#app-mount
  #messages.id-801089753038061669
  .contents_d3ae0d
  .messageContent_abea64 {
  margin-left: auto;
}
#app-mount
  #messages.id-801089753038061669
  a:not(.embed_cc6dae .embedAuthorNameLink_dd0d5f) {
  margin-left: auto;
}

#app-mount #messages.id-801089753038061669 .embedAuthor__3e899 {
  direction: ltr;
}

#app-mount #messages.id-801089753038061669 .avatar__08316 {
  left: unset;
  right: 5px;
}

#app-mount #messages.id-801089753038061669 .header__6a14d {
  display: flex;
  flex-direction: row-reverse;
}
#app-mount #messages.id-801089753038061669 .header__6a14d span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount #messages.id-801089753038061669 .repliedMessage__636d2:before {
  display: none;
}

#app-mount .contents_d3ae0d > .messageContent_abea64 {
  overflow: visible;
}

#app-mount .contents_d3ae0d pre {
  max-width: 100%;
}

#app-mount .contents_d3ae0d .messageContent_abea64 {
  border: 1px solid rgb(var(--GC-accent));
  border-radius: 10px;
  background-color: rgb(var(--GC-accent-muted));
  padding: 2px;
  margin-left: unset;
  width: fit-content;
}
#app-mount #messages.id-801089753038061669 .messageContent_abea64 {
  border-top-right-radius: 0;
  clip-path: polygon(
    0 10px,
    10px 0,
    calc(100% - 10px) 0,
    100% 0px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0% calc(100% - 10px),
    0% 10px
  ) !important;
}

#app-mount .messageContent_abea64 {
  border-top-left-radius: 0 !important;
  clip-path: polygon(
    0 0px,
    10px 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0% calc(100% - 10px),
    0% 10px
  ) !important;
}

#app-mount .contents_d3ae0d {
  display: inline-block;
  max-width: 100%;
}
#app-mount .message_ccca67 {
  max-width: 100%;
}

#app-mount
  .message_ccca67.compact_eda3c8.wrapper_a62503
  #messages.id-801089753038061669
  .messageContent_abea64 {
  display: flex;
}

#app-mount .compact_eda3c8.wrapper_a62503 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount
  .mentioned_fa6fd2.compact_eda3c8
  .contents_d3ae0d
  .messageContent_abea64::before:not(#messages.id-801089753038061669) {
  left: 4px;
}
#app-mount
  .replying__38514.compact_eda3c8
  .contents_d3ae0d
  .messageContent_abea64::before:not(#messages.id-801089753038061669) {
  left: 4px;
}

#app-mount .mentioned_fa6fd2:hover .contents_d3ae0d .messageContent_abea64,
#app-mount
  .mentioned_fa6fd2.selected_e3bc5d
  .contents_d3ae0d
  .messageContent_abea64 {
  background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--info-warning-foreground);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}
#app-mount .mentioned_fa6fd2:before {
  display: none;
}

#app-mount .repliedMessage__636d2 {
  border: 1px solid rgb(var(--GC-accent));
  border-radius: 10px;
  background-color: var(--background-message-hover);
  margin-bottom: 0;
  padding: 2px;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--brand-experiment-05a);
}
#app-mount .replying__38514:hover .contents_d3ae0d .messageContent_abea64,
#app-mount
  .replying__38514.selected_e3bc5d
  .contents_d3ae0d
  .messageContent_abea64 {
  background-color: var(--brand-experiment-10a);
}
#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--brand-experiment);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}
.replying__38514:before {
  display: none;
}
.repliedMessage__636d2:before {
  display: none;
}
