.scroller__8f066 {
  padding: 6px 8px;
  margin: -10px;
  line-clamp: 5px;
  background-image: var(--wallpaper);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  // backdrop-filter: brightness(50%) !important;
  text-shadow: 0 0 5px currentColor;
}
.colorDefault_e361cf {
  color: rgb(var(--GC-accent));
}
.label__563c3 {
  filter: drop-shadow(0 0 5px currentColor, 0.5);
}

.labelContainer__4f869.colorDanger__08c25 {
  color: red;
  filter: drop-shadow(0 0 5px red, 0.5) !important;
  &:hover{
    color: white;
  }
}
.item__183e8 {
  margin-bottom: -2px;
  padding: 2px;
  min-height: 12px;
}
